.calendar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  padding: 3em;
  gap: 2em;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerTitles{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btnEvents{
  padding: 1em ;
  font-size: 1.5em;
}

/*
  GRID CALENDAR
*/

.containerCalendar{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2em;
}

.ContCalendar{
  grid-column: 1/3;
  grid-row: 1/4;
  border: 1px solid var(--line);
  height: 60em;
  border-radius: 10px;
  background-color: var(--white);
}

.listEvents{
  grid-column: 3;
  grid-row: 1/4;
  border: 1px solid var(--line);
  background-color: var(--white);
  border-radius: 10px;

}

.upcomingEvent{
  grid-column: 1/4;
  grid-row: 4;
  border: 1px solid var(--line);
  background-color: var(--white);
  border-radius: 10px;

}

@media(max-width: 768px){
  @media(max-width: 768px){
  .containerCalendar{
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  /* IMPORTANTE: limpiar grid de los hijos */
  .ContCalendar,
  .listEvents,
  .upcomingEvent {
    grid-column: auto;
    grid-row: auto;
    width: 100%;
    height: 30em; /* opcional si quieres que se ajusten */
  }
}

}


