.tasks {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 3em;
  gap: 2em;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .tasks {
    padding: 1.5em;
  }
}