.tasksListContainer {
  width: 100%;
  height: 30em;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em;
  margin: 2em 0;
}

.tasksListContainer::-webkit-scrollbar {
  width: 5px;
}

.tasksListContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.tasksListContainer::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border-radius: 10px;
}

.tasksListContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tasksList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

.emptyState {
  grid-column: 1 / -1;
  text-align: center;
  padding: 3em;
  color: #999;
}

@media(max-width: 420px) {
  .tasksList {
    grid-template-columns: 1fr;
  }
}