.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerTitles {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btnTasks {
  padding: 1em;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 1.5em;
    align-items: start;
  }
}