.alertSuccess {
  padding: 1.25rem;
  background-color: #d1fae5;
  color: #065f46;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.alertError {
  padding: 1.25rem;
  background-color: #fee2e2;
  color: #991b1b;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}