.label {
  width: 100%;
}
.small{
  font-size: 1.2em;
}

.medium{
  font-size: 1.6em;
}

.large {
  font-size: 1.8em;
}

.left {
  text-align: left;
}

.center{
  text-align: center;
}

.right {
  text-align: right;
}