.login {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.containnerIcon {
  display: flex;
  padding: .6em;
  align-items: center;
  justify-content: center;
  transition: background .3s, transform .3s;
  border-radius: 5px;
}

.containnerIcon:hover {
  background-color: var(--gray-claro);
  transform: translateY(-2px);
}

.notifications {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.separator {
  width: 2px;
  height: 6em;
  background-color: var(--line);
}


@media(max-width: 768px){
  .login{
    gap: 1.2em;
  }
  .notifications {
  width: 22px;
  height: 22px;
}
.button{
  padding: .5em 1em;
}
}

@media(max-width: 480px){
  .login{
    gap: .5em;
  }
  .button{
    font-size: 1.4em;
  }
}

@media(max-width: 320px){
  .button{
    padding: .5em .6em;
  }
}