.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 0 2em;
  min-height: 10em;
  border-bottom: 1px solid var(--line);
}
.notifyIcon{
  background: transparent;
}
.unread {
  background-color: var(--gray-claro); /* o el color que quieras */
  border-left: 4px solid var(--color-blue);
  transition: .3s all;
}

.unread:hover{
  background-color: var(--white);
}

.containerTitles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.deleteNotify{
  background: transparent;
  font-size: 2px;
}
