.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5em;
  font-size: 1.3em;
  color: var(--text2-color)
}

.profileUser {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  overflow: hidden;         
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-claro);
}
.img {
  width: 100%;            
  height: 100%;
  object-fit: cover;        
  border-radius: 50%;       
}

.ProfileName{
  width: 100%;
  font-size: 1em;
}