.newTask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.322);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8em 1em 0 0;
}

.newTask.closing{
  animation: fadeOut .4s ease-in-out;
}

.form{
  position: relative;
  height: 51em;
  width: 38em;
  background-color: var(--white);
  animation: slideIn .4s ease-in-out;
  border-radius: 5px;
  box-shadow: 0 2px 6px var(--card-border);
  padding: 2.5em 2em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.form.closing{
  animation: slideOut .4s ease-in-out;
}
/* Animación de entrada */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación de salida */
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.titleForm{
  border-bottom: 1px solid var(--line);
}

.btnEvent{
  margin-top: -.3em;
}




