.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.322);
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8em 1em 0 0;
}

.form{
  position: relative;
  height: 46em;
  width: 33em;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 6px var(--card-border);
  padding: 2.5em 2em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}


.titleForm{
  border-bottom: 1px solid var(--line);
}

.btnRegister{
  margin-top: -.3em;
}