.backgro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  animation: fadeIn 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.322);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 8em 1em 0 0;
}

.backgro.closing {
  animation: fadeOut 0.4s ease-in-out;
}

.contNotify{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 56em;
  width: 40em;
  background-color: var(--white);
  animation: slideIn 0.4s ease-in-out;
  border-radius: 5px;
  box-shadow: 0 2px 6px var(--card-border);
}

.contNotify.closing {
  animation: slideOut 0.4s ease-in-out;
}

/* Animación de entrada */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación de salida */
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.headerNotify{
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--line);
  padding-bottom: 1em;
}

.containerTitles{
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1em;
}

.closeIcon{
  color: gray;
  transition: .3s all;
}

.closeIcon:hover {
  background: var(--gray-claro);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.closeIcon:active{
  transform: scale(0);
}


.containerNotify{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;     
  overflow-x: hidden; 
}