.navbar {
  grid-column: 1;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid var(--line);
  height: 100vh;   
  width: 100%;     
  box-sizing: border-box;
  padding-bottom: 15em;
  background: white;
  position: sticky;
  top: 0;
  transition: transform 0.3s ease-in-out;
}

/* MÓVIL */
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 8em;
    left: 0;
    transform: translateX(-100%); /* OCULTO */
    width: 25em;
    z-index: 100;
    background: white;
  }

  .open {
    transform: translateX(0); /* VISIBLE */
  }
}
