.layout {
  display: grid;
  height: 100vh;
  grid-template-rows: 7em 1fr; 
  grid-template-columns: 25em 1fr;
}

@media (max-width: 768px) {
  .layout {
    display: block;       
    height: auto;         
  }
}
