/*
-------------------- FONTS -----------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "Michroma";
    src: url(/src/assets/fonts/Michroma.woff2) format(woff2);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Michi";
    src: url(/src/assets/fonts/Michroma.woff2) format("woff2");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url(/src/assets/fonts/Montserrat.woff2) format(woff2);
    font-style: normal;
    font-weight: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    /*Colors text and cards*/
    --gray: #a1a1a1 ;
    --gray-claro: #dcdcdc53;
    --line:oklch(0.94 0 0);
    --black:#000000;
    --white:#ffffff;
    --bg-color:#f9fafb;
    --hover-color:#0f202a;
    --card-border:#114c6a;
    --card-color:#0f3141;
    
    /*hovers*/
    --color-blue : #101828;
}



html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  color: var(--text-color);
}

/*
================ RESPONSIVE DESIGN ===================
*/
@media(max-width: 1200px){
  html{
    font-size: 58.5%;
  }
  
  section:not([class*="caroussel"]):not([class*="home"]) {
    min-height: auto; 
  }
}

@media(max-width: 991px){
  html{
    font-size: 54.5%;
  }
  
  section:not([class*="caroussel"]) {
    min-height: auto;
    padding: 5rem 4%;
  }
}

@media(max-width: 820px){
  html{
    font-size: 52%;
  }
  
  
  section:not([class*="caroussel"]):not([class*="home"]):not([class*="courses"]) {
    min-height: auto;
    padding: 4rem 3%;
  }
  
 
  section[class*="home"],
  section[class*="courses"] {
    min-height: 85vh;
    padding: 5rem 4%;
  }
}

@media(max-width: 768px){
  html{
    font-size: 48.5%;
  }
  
  section:not([class*="caroussel"]):not([class*="home"]):not([class*="courses"]) {
    min-height: auto;
    padding: 4rem 3%;
  }
  
  section[class*="home"],
  section[class*="courses"] {
    min-height: auto;
    padding: 4rem 3%;
  }
}

@media(max-width: 480px){
  html{
    font-size: 45%;
  }
  
  section:not([class*="caroussel"]) {
    min-height: auto;
    padding: 3rem 4%;
  }
}

@media(max-width: 320px){
  html{
    font-size: 42%;
  }
  
  section:not([class*="caroussel"]) {
    min-height: auto;
    padding: 2.5rem 3%;
  }
}